---
import FileUpload from "../components/FileUpload.jsx";
---

<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  </head>
  <body>
    <main>
      <FileUpload client:load />
    </main>
  </body>
</html>
